@import 'layout';

/* colors */
$color-primary-blue: #0D47A1;
// Gradient pairs
$header-gradient1: #00173e;
$header-gradient2: #003797;

@import 'mixins';

#header {
    @include horizontal-gradient($header-gradient1, $header-gradient2);
    display: flex;
    align-items: center;
    .header-sidebar {
        width: 60px;
        @media (min-width: 990px) {
            width: 225px;
        }
    }
    .header-title {
        flex: 1;
        padding: .25rem 0 .31rem .6rem;
        color: #a2bed6;
        > div {
            display: flex;
            align-items: center;
        }
    }
    .header-user {
        padding-right: 1.4rem;
    }
}
#main {
    background-color: #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer {
    @include horizontal-gradient($header-gradient1, $header-gradient2);
    color: #9098ad;
}
#sidebar, .header-sidebar {
    transition: width 120ms ease-out;
}

.menu-btn {
    background-color: transparent;
    border: none;
    color: #a2bed6;
    &:hover {
        color: #fff;
    }
}
.menu-icon {
    font-size: 1.3rem;
    padding-right: .6rem;
    vertical-align: middle;
}
.app-name {
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
}

a.user-toggle {
    display: flex;
    align-items: center;
    color: #a2bed6;
    &:hover, &:active {
        text-decoration: none;
    }
    &:after {
        content: '\f0d7';
        font-family: "Font Awesome 5 free";
        font-weight: 900;
        display: inline-block;
        @media (min-width: 480px) {
            align-self: baseline;
        }  
    }
}
.user-profile {
    padding-right: .6rem;
    i {
        font-size: 2.2rem; 
    } 
}
.user-desc {
    display: none;
    padding-right: 7px;
    > div {
        line-height: 1;
    }
    .user-name {
        font-size: 1.1rem;
        font-weight: 500;
        padding-bottom: 4px;
    }
    .user-role {
        font-size: .7rem;
    }
}

.login-card {
    max-width: 380px;
    margin: 0 auto;
    margin-top: 4rem;
    .card-header {
        h1 {
            margin: 0;
            color: white;
            font-size: 1.7rem
        }
    }
    .card-footer {
        a {
            small {
                font-weight: 500;
            }
        }
        
    }
}
#sidebar {
    background-color: #142B52;
    width: 60px;
    @media (min-width: 990px) {
        width: 225px;
    }
}

#sidebar-nav {
    ul {
        margin-top: 1rem;
        > li {
            > a {
                display: block;
                padding: 1rem;
                color: #858da3;
                transition: color 120ms ease-out;
                &:hover, &:active {
                    text-decoration: none;
                    color: rgb(212, 212, 212);
                }
                > span {
                    vertical-align: text-bottom;
                    display: none;
                    @media (min-width: 990px) {
                        display: inline-block;
                    }
                }
                i {
                    font-size: 1.2rem;
                    margin-right: 5px;
                }
            }
        }
    }
}

.card-header h4 {
    margin-bottom: 0;
}
.card-header.with-link {
    display: flex;
    justify-content: space-between;
}

/* Helpers */
#main.Dashboard {
    background-color: white;
}

/* Bootstrap overrides */
a { color: #2680EB; }
.bg-primary-blue {
    background-color: $color-primary-blue !important;
}
.btn-primary-blue {
    color: #fff;
    background-color: $color-primary-blue;
    border-color: #0a3679;
    &:hover, &:active {
        color: white;
        background-color: #1260da;
        border-color: #1355bb;
    }
}

@media (min-width: 480px) {
    .user-desc {
        display: block;
    }
}
@media (min-width: 768px) {
    

}
@media (min-width: 990px) {

}

